{% extends 'base.html' %}
{% block title %}<title>解决方案</title>{% endblock %}
{% block content %}
<div class="toppic">
	<div class="am-container-1">
	 <div class="toppic-title left">
			<i class="am-icon-lightbulb-o toppic-title-i"></i>
			<span class="toppic-title-span">解决方案</span>
			<p>Solutions</p>
		</div>
		<div class="right toppic-progress">
			<span><a href="/" class="w-white">首页</a></span>
			<i class=" am-icon-arrow-circle-right w-white"></i>
			<span><a href="" class="w-white">解决方案</a></span>
		</div>
	</div>
</div>

		

  
   <div data-am-widget="tabs"class="am-tabs am-tabs-d2 ">

      <!--<ul class="am-tabs-nav am-cf solutions-tabs-ul ">-->
         <!--<li class="am-active solutions-tabs-ul-li1"><a href="[data-tab-panel-0]" ><i class=" am-icon-desktop"></i><span>网站解决方案</span></a></li>-->
          <!--<li class="solutions-tabs-ul-li2"><a href="[data-tab-panel-1]"><i class=" am-icon-mobile-phone mobile-phone"></i><span>解决方案</span></a></li>-->
          <!--<li class="solutions-tabs-ul-li3"><a href="[data-tab-panel-2]" ><i class=" am-icon-desktop"></i><span>网站解决方案</span></a></li>-->
          <!--<li class="solutions-tabs-ul-li4"><a href="[data-tab-panel-3]"><i class=" am-icon-mobile-phone mobile-phone"></i><span>解决方案</span></a></li>-->
      <!--</ul>-->

      <div class="am-tabs-bd solutions-tabs-content ">
          <div data-tab-panel-0 class="am-tab-panel am-active">
          	<ul class=" solutions-content-ul">
				{% for article in article_list.object_list %}
            	<li class="am-u-sm-12 am-u-md-6 am-u-lg-12">
            		<a href="{{article.id}}">
            		<div class="am-u-sm-12 am-u-md-12 am-u-lg-3 solution-tabs-img">
            			<img src="{{MEDIA_URL}}/{{article.image}}" />
            		</div>
            		<div class="am-u-sm-12 am-u-md-12 am-u-lg-9 solution-tabs-words">
            			<h5>{{article.title}}</h5>
            			<p>{{article.describe}}</p>
            		</div>
            		</a>
            	</li>
				{% endfor %}
            	<div class="clear"></div>
            </ul>
            
          </div>

		  <ul class="am-pagination ">
            {% if article_list.has_previous %}
            <!--<li><a href="#">&laquo;</a></li>-->
            <li><a href="?{{ article_list.previous_page_number.querystring }}">上一页</a></li>
            {% endif %}
            {% for page in article_list.pages %}
            {% if page %}
            {% ifequal page article_list.number %}
            <li class="current-page"><a href="?{{ page.querystring }}">{{page}}</a></li>
            {% else %}
            <li class="page"><a href="?{{ page.querystring }}">{{page}}</a></li>
            {% endifequal %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% if article_list.has_next %}
            <li><a href="?{{ article_list.next_page_number.querystring }}">下一页</a></li>
            {% endif %}
        </ul>

      </div>
  </div>
		
</div>
{% endblock %}


